{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <div class="row justify-content-center">
        <h1>Store Locator</h1>
        <p>Find a skincare store near you!</p>
        <div class="col-auto">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1eUKaCIKE-XTVcOgbm4WPCkHSnibBGQ4&ehbc=2E312F&noprof=1" width="640" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        {% if request.user.is_staff %}
        <a href="{% url 'locator:location_entry' %}">
            <button type="button" class="btn mt-2" style="background-color: #99D3FF;">Add New Store</button>
        </a>
        {% endif %}
    </div>

    <div id="location_cards">
        {% for location in locations %}
        <div class="card" style="width: 18rem;">
            <img src="{{ location.store_image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ location.store_name }}</h5>
                <p class="card-text">{{ location.street_name }}, {{ location.district }}</p>
                <a href="{{ location.gmaps_link }}" class="btn btn-primary">How Do I Get There?</a>
                {% if request.user.is_staff %}
                    <form method="post" action="{% url 'locator:delete_location' location.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a href="{% url 'locator:edit_location' location.pk %}">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}