{% extends 'base.html' %} 
{% block content %}
<h1>Submit a Store Location</h1>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.store_name.label_tag }}
      {{ form.store_name }}
    </div>
    <div class="mb-3">
      {{ form.street_name.label_tag }}
      {{ form.street_name }}
    </div>
    <div class="mb-3">
      {{ form.district.label_tag }}
      {{ form.district }}
    </div>
    <div class="mb-3">
      {{ form.gmaps_link.label_tag }}
      {{ form.gmaps_link }}
    </div>
    <div class="mb-3">
      {{ form.store_image.label_tag }}
      {{ form.store_image }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}