{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Promotion Events</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <h1 class="mt-3">Promotion Events</h1>
    <hr>
</div>

<div class="container mb-3">
    <label for="monthInput" class="form-label">Filter by Month:</label>
    <div class="input-group">
        <input type="month" id="monthInput" class="form-control">
    </div>
</div>

{% if user.is_superuser %}
<div class="container text-end mb-3">
    <a href="{% url 'events:create_event' %}" class="btn text-white" style="background-color: #7493b0;">
        Add Event
    </a>
</div>
{% endif %}

<div class="container">
    <div class="row" id="eventCards">

    </div>
</div>

<script>
    async function getUserInfo() {
        const response = await fetch('/events/user-info/');
        const data = await response.json();
        return data;
    }

    async function filterEvents(month = '', year = '') {
        let url;
        url = `/events/filter-events/${month && year ? '?month=' + month + '&year=' + year : ''}`;
        const res = await fetch(url);
        const data = await res.json();
        return data;
    }

    async function showEvents(data) {
        const events = JSON.parse(data.events);
        const rsvps = JSON.parse(data.rsvps);
        const rsvpSet = new Set(rsvps.map(rsvp => rsvp.fields.event));

        let eventCards = document.getElementById('eventCards');
        eventCards.innerHTML = '';
        const userInfo = await getUserInfo();
        const isSuperuser = userInfo.is_superuser;

        classNameString = `col-12 col-sm-6 col-lg-3 mb-4 d-flex`;

        events.forEach(item => {
            let event = item.fields;
            const isRSVPed = rsvpSet.has(item.pk);

            eventCards.innerHTML += `
                <div class="col-12 col-sm-6 col-lg-3 mb-4 d-flex">
                    <div class="card flex-fill" style="border-color: black; margin-top: 15px;">
                        <div class="card-header fw-bold text-truncate text-black" style="background-color: #a5d1fb;">
                            ${event.name} in ${event.location}
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title
                            ">${event.description}</h5>
                            <p class="card-text">${event.start_date} - ${event.end_date}</p>
                            <p class="card-text">${event.promotion_type}</p>
                            <div class="mt-auto d-flex align-items-start">
                                ${isSuperuser ? `
                                    <a href="/events/edit/${item.pk}/" class="btn me-2 text-white" style="background-color: #7493b0;">
                                        Edit
                                    </a>
                                    <button onclick="deleteEvent('${item.pk}')" type="button" class="btn text-white" style="background-color: #7493b0;">Delete</button>
                                ` : `
                                    ${isRSVPed ? `
                                        <button onclick="cancelRSVP('${item.pk}')" type="button" class="btn text-white" style="background-color: #a96e6d;">
                                            Cancel RSVP
                                        </button>
                                    ` : `
                                        <button onclick="rsvp('${item.pk}')" type="button" class="btn text-white" style="background-color: #7493b0;">
                                            RSVP
                                        </button>
                                    `}
                                `}
                            </div>
                        </div>
                    </div>
                </div>
            `;
        });
    }

    async function deleteEvent(eventId) {
        const response = await fetch(`/events/delete-event-ajax/${eventId}/`, {
            method: 'POST',
        });

        if (response.ok) {
            await refreshEvents();
            console.log('Event deleted');
            return
        }
        const errorRes = await response.json();
        console.log(errorRes.message);
    }

    async function cancelRSVP(eventId) {
        console.log('Cancelling RSVP');
        const response = await fetch(`/events/cancel-rsvp-ajax/${eventId}/`, {
            method: 'POST',
        });

        if (response.ok) {
            await refreshEvents();
            console.log('RSVP cancelled');
            return
        }
        const errorRes = await response.json();
        console.log(errorRes.message);
    }

    async function rsvp(eventId) {
        const response = await fetch(`/events/rsvp-ajax/${eventId}/`, {
            method: 'POST',
        });
        if (response.ok) {
            await refreshEvents()
            return 
        }
        const errorRes = await response.json();
        console.log(errorRes.message);
    }

    function getYearMonth() {
        const selectedMonth = document.getElementById('monthInput').value;
        const [year, month] = selectedMonth.split('-');
        return [year, month];
    }

    async function refreshEvents() {
        const [year, month] = getYearMonth();
        const data = await filterEvents(month, year);
        await showEvents(data);
    }

    document.addEventListener('DOMContentLoaded', async function () {
        await refreshEvents();
    });

    document.getElementById('monthInput').addEventListener('change', async function () {
        await refreshEvents();
    })

</script>
{% endblock content %}