<footer style="background-color: #071a58; padding: 40px; color: #fff; text-align: center;">
    <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">

        <div style="flex: 1; min-width: 150px;">
            <h2 style="font-size: 24px; font-family: 'Laurasia', sans-serif;">Beauty From The Seoul</h2>
            <p class="mb-2" style="font-size: 12px; font-family: 'TT', sans-serif;">ONE-STOP K-SKINCARE NAVIGATOR</p>
            <a href="https://www.instagram.com/broskkis/" target="_blank" title="Beauty From The Seoul on Instagram" style="margin-right: 0; border: none;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1200px-Instagram_icon.png" alt="Instagram" width="20" style="border: none;">
            </a>
            <div class="mt-2" style="font-size: 12px; font-family: 'TT', sans-serif;">
                <p>© 2024, Beauty From The Seoul, Inc. All rights reserved.</p>
            </div>
        </div>

        <div style="flex: 1; min-width: 200px; background-color: #071a58;">
            <h3 style="font-family: 'Laurasia', sans-serif;">Your Journey to Radiant Skin Starts Here</h3>
            <p style="font-size: 14px; font-family: 'TT', sans-serif;">Dive into our expertly curated collection of products designed for every skin type, and explore our interactive store locator to uncover hidden gems in Seoul. Stay in the loop with exciting promotions that will elevate your beauty routine. Embrace the magic of K-beauty and let your skin shine—you deserve nothing but the best!
            </p>
        </div>
    </div>
</footer>
