<nav class="navbar navbar-expand-lg bg-white shadow border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand ps-5" href="{% url 'main:show_main' %}">Beauty From The Seoul</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'main:show_main' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'catalogue:show_products' %}">By Types</a></li>
              <li><a class="dropdown-item" href="{% url 'catalogue:show_products' %}">By Brands</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'events:event' %}">Promotion Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'locator:locator' %}">Store Locator</a>
          </li>
        </ul>
        
        <div class="d-flex">
          {% if user.is_authenticated %}
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.get_full_name|default:user.username }}
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a></li>
              </ul>
            </div>
          {% else %}
            <a class="btn btn-primary" href="{% url 'authentication:login' %}">Login</a>
          {% endif %}
        </div>

      </div>
    </div>
  </nav>