{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Products | Beauty From The Seoul</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<h1 class="text-center">PRODUCTS</h1>
<p class="text-center">Find What You're Looking For!</p>

<!-- Filter Button -->
<div class="text-center mb-5">
    <button class="btn btn-primary" data-toggle="modal" data-target="#filterModal">Filter Products</button>
</div>

{% include 'filter_modal.html' %}

{% if user.is_superuser %}
<div class="text-center mb-5">
    <button class="btn btn-primary" data-toggle="modal" data-target="#addproductModal" onclick="openProductModal()">Add Product</button>
</div>
{% endif %}

{% include 'add_product_modal.html' %}
  
<div class="container">
    {% include 'product_list.html' %}
</div>

<script>
function applyFilter() {
    const selectedBrand = document.getElementById("brandSelect").value;
    const selectedType = document.getElementById("typeSelect").value;

    console.log(`Selected Brand: ${selectedBrand}, Selected Type: ${selectedType}`);

    $.ajax({
        url: "{% url 'catalogue:filter_products_ajax' %}",
        type: "GET",
        data: {
            product_brand: selectedBrand,
            product_type: selectedType
        },
        success: function(response) {
            console.log("AJAX Success:", response);
            $('#product-list').html(response.html);
            $('#filterModal').modal('hide');
        },
        error: function(xhr, status, error) {
            console.error("AJAX Error:", error);
        }
    });
}
$(document).ready(function() {
    $('#addProductForm').on('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        $.ajax({
            url: "{% url 'catalogue:add_product_entry' %}", // Update with your URL
            type: "POST",
            data: $(this).serialize(), // Serialize the form data
            success: function(response) {
                // Assuming you want to update the product list after adding a product
                $('#product-list').html(response.html);
                $('#addproductModal').modal('hide');
            },
            error: function(xhr, status, error) {
                // Handle errors
                alert("Error: " + xhr.responseJSON.error);
            }
        });
    });
});
</script>
{% endblock content %}
